* {
    font-family: 'georgiaregular', sans-serif;
}

#result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    a {
        margin: 0;
        padding: 0;
        color: black;
        text-decoration: none;
    }

    .content-box {
        height: 700px;

        .image {
            object-fit: cover;
        }
    }
}